doctype html
html
    include snippet/head
    body
        include  template/login
        script(src='js/view/Login.js')
        script(src='js/model/LoginModel.js')
        script(src='js/controller/loginCtr.js')
