head
    link(href='/static/css/styles.css',rel='stylesheet')
    script(src='/js/lib/jquery-2.1.0.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/underscore-min.js')
    script(src='/js/lib/backbone-min.js')