link(href='/static/css/bootstrap/bootstrap.min.css',rel='stylesheet')
link(rel='stylesheet',href='/static/css/MarkdownEditor.css')
link(rel='stylesheet',href='/static/css/components.css')
script(src='/js/lib/jquery-2.1.0.min.js')
script(src='/js/lib/angular.min.js')
