template.toolItem
    div.itemCtr
        span(class='icon <%=iconClass%> <%=meanClass%>',data-toggle='tooltip',title='<%=content%>',data-placement='bottom')
template.markdownEditor
    div.markdownToolList
            div.toolListPanel
    div.markdownTextarea.col-md-6
    div.markdownPreview.col-md-6        
        div.markdownContent
    div.modalRegion
        div.modal.fade
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button',data-dismiss='modal') &times;
                        h4.modal-title 保存选项
                    div.modal-body
                        div.form-group.row
                            div.col-md-3
                                label 标题
                            div.col-md-9
                                input.form-control.title(type='text')
                        div.form-group.row.marginTop25
                            div.col-md-3
                                label 类型
                            div.col-md-9
                                select.form-control.postType
                                    option(value='casual') casual
                                    option(value='browser javascript') browser javascript
                                    option(value='nodejs') nodejs
                    div.modal-footer
                        span.tipsRegion.label.label-danger.hide 123123
                        button.btn(data-dismiss='modal') 取消
                        button.btn.btn-primary.submitPost 保存
